.page-header {
    display: none;
    @include breakpoint(medium) {
        display: block;
        width: 100%;
        background-color: $topbar-background;
        > div {
            @include grid-row();
        }

        > div > div {
            //height: 150px;
        }

        a.logo {
            display: block;
            width: 135px;
            height: 38px;
            margin: 6px 0;
            text-indent: 101%;
            overflow: hidden;
            background-image: url(#{$icon-path}/logo-typo3.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .searchbox {
        .tx-kesearch-pi1 {
            padding: 0 0 0 0.6rem;
        }
        .resetbutt,
        .submitbutt {
            display: none;
        }
    }
}
